* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
  background-color: rgb(56, 53, 117);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, main, footer {
    width: 1040px;
    margin: 0 auto;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header{
    height:120px;    
}
main{
    padding-bottom: 100px;
}
footer{   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}

#panorama {
    width: 100%;
    height: 150px;
    background: url(../content/Без_названия.jpg) no-repeat center 60%;
    background-size: cover; /*масштабирование фона*/
}

.services_item {
    margin-right: 40px;
    margin-left: 40px;
    width: 240px;
    float: left;
}
.services {
    padding: 35px;
}
.services_img {
    width: 240px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1--invisible {
    visibility: hidden
}

.center1 {
    text-align: center;
}

.kontakti {
    text-align: center;
    padding: 14px;
}

h2 {
    margin-top: 2px;
}
.kontakti h2 {
    color: #c4cfff;
    margin-bottom: 8px;
    margin-top: 20px;
}
.kontakti p { 
    font-size: 22px;
    margin-bottom: 15px;
}

a {
    color:#c4cfff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#logo {
    text-transform: uppercase;
    text-decoration:none;
    color:#fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float:left
}

.purple {
    color: #c4cfff;
}

.footer_block, .footer_img {
    display: inline-block;
    width: 335px;
}
.footer_icons {
    text-align: right;
    margin-left: 10px;
}
.footer_img {
    width: 50px;
}
.footer_block {
    text-transform: uppercase;
    text-align: center;
}
.footer_block:nth-child(2) {
  text-align: center;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.container {
    padding: 40px;
    border-radius: 12px;
    max-width: 1000px;
    display: grid;
    gap: 40px 60px;
}
.test {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.test img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.test-text {
    max-width: 700px;
}
.test-text p {
    font-size: 19px;
    margin: 10px;
}
.test-text span {
    font-size: 22px;
}
mark {
    background-color: #c4cfff;
}

#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 33px;
}
#mainnav li {
    display: inline;
    margin-left: 70px;
    margin-right: 20px;
    font-size: 25px;
}
#mainnav a {
    text-decoration: none;
}
#mainnav a:hover {
    text-decoration: underline;
}
#mainnav li.active a {
    font-weight: bold;
}

.new::after {
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: rgb(124, 101, 255);
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.newtovar {
    margin-left: 75px;
    margin-top: 30px;
    font-size: 20px;
}
table {
    border: 8px solid #1C2059;
    border-collapse: collapse;
}
thead {
    background-color: #2d2861;
    border: 5px solid #1C2059;
}
tr {
    border: 2px solid white;
}
td, th {
    padding: 10px;
}
.price th:first-child {
    width: 10%;
}
.price th:nth-child(2), .price th:last-child {
    width: 25%;
}
.finik {
    margin-left: 0;
}
.text {
    text-align: left;
}
.price tr:nth-child(even) {
    background-color: #2d2861;                  
}
.price tr:nth-child(odd) {
    background-color: #444087;
}
.white {
    color: white;
}
#contact-form input[type="text"] {
    height: 40px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c4cfff;
    border-radius: 5px;
}
#contact-form select {
    height: 40px;
    width: 262px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c4cfff;
    border-radius: 5px;
}
#contact-form textarea {
    height: 40px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c4cfff;
    border-radius: 5px;
}
#contact-form input[type="email"] {
    height: 40px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c4cfff;
    border-radius: 5px;
}
#contact-form input[type="tel"] {
    height: 40px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c4cfff;
    border-radius: 5px;
}
#contact-form input[type="submit"] {
    height: 40px;
    width: 262px;
    padding: 10px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #625cc8;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
#contact-form input[type="submit"]:hover {
    background-color: #c4cfff;
    border-color: #c4cfff;
}
